*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#question-text{
    margin: 1rem 0px;
    background-color: lightcoral;
}

#result{
    height: 50px;
}

input{
margin-left: 1rem;
color: black;
}

button{
    margin-bottom: 1rem;
}